# exclude all
/*
# except these files/folders
!.gitignore
!scripts/
!opendrift-1.4.2/
!simulations/

# then exclude specific folder and file types
output
outputs
scripts/script_generator/jobs
scripts/script_generator/scripts
simulations/mpa_20210125_STAGING/*.sh
simulations/mpa_20210125_STAGING/scripts
scripts/distance_analysis/distance_analysis_mapping

*.csv
*.xlsx
*.ini
*.gdb
*.mxd
*.cpg
*.dbf
*.prj
*.sbn
*.sbx
*.shp
*.shp.xml
*.xml
*.shx
*.png
*.svg

*.pyc

*.nc
*.npy
*.log

*.code-workspace
*settings.json
