# exclude all
/*
# except these files/folders
!.gitignore
!scripts/
!opendrift-1.4.2/
!simulations/

# then exclude specific folder and file types
output
outputs

*.csv
*.xlsx
*.ini
*.gdb
*.mxd
*.cpg
*.dbf
*.prj
*.sbn
*.sbx
*.shp
*.shp.xml
*.xml
*.shx
*.png
*.svg

*.pyc

*.nc
*.npy
*.log

*.code-workspace
*settings.json
