# exclude all
/*
# except these files/folders
!.gitignore
!scripts/

# then exclude specific folder and file types
output
outputs

*.csv
*.xlsx
*.ini
*.gdb
*.mxd
*.cpg
*.dbf
*.prj
*.sbn
*.sbx
*.shp
*.shp.xml
*.xml
*.shx
*.png
*.svg

*.pyc

*.nc

*.code-workspace
*settings.json
